<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torrent Search Engine</title>
    <link rel="icon" type="image/png" href="https://cdn.glitch.me/7fece456-8b5b-40e8-936b-48ec60638ef6%2FDaco_4082111.png?v=1634983256354"/>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
      
    </style>
  </head>
  <body>
    <header>
        <a href="/api/v2/torrent-search" class="nav-title">
            <p>Torrent Search Engine</p>
        </a>
        <form action="/api/v2/torrent-search" method="get">
            <div class="search-box">
                <input type="text" required name="query" id="query" placeholder="Search by title...">
            
                <input type="hidden" name="page" value="1" id="page">
                <button type="submit">Search</button>
            </div>
        </form>
        
    </header>
  </body>
  
</html>